@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
  /* overflow-x: hidden; */
  scrollbar-color: #0f0f0f transparent;
}

.navbar-para {
  padding: 0px 150px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  margin-left: -80px;
}

nav ul li {
  font-size: 17.5px;
  padding: 10px;
}
nav ul li.active,
nav ul li:hover {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
}

div.toggle {
  display: none;
}

div.play {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.play img {
  width: 350px;
}

.progress-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  z-index: 1000;
  transform-origin: 0%;
}

.search-icon,
.notification-icon {
  font-size: 25px;
}

.navbar_title {
  height: 400px; /* adjust the height to your needs */
  padding: 20px;
}

.notification-box {
  top: 100px;
  right: 90px;
  z-index: 100;
}

.small-play-button {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.small-play-button:hover {
  background-color: #1a1a1a;
}

.small-play-button-image {
  width: 20px;
}

div.explore {
  padding: 0px 70px;
  padding-bottom: 100px;
  padding-top: 50px;
}

div.faq {
  padding: 0px 70px;
  padding-bottom: 100px;
}

div.faq-header {
  display: flex;
  justify-content: space-between;
}
div.devices {
  padding: 0px 70px;
  padding-bottom: 100px;
}

div.swipe {
  padding: 0px 10px;
  height: 60px;
  border-radius: 10px;
}

.swipe-button-prev,
.swipe-button-next {
  padding: 8px;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 5px;
  outline: none;
  border: none;
}

div.categories {
  margin-top: 60px;
  position: relative;
}

div.category {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 60px;
}

div.category:nth-child(7) img {
  border-radius: 30px;
}

.swipe-button-prev:hover,
.swipe-button-next:hover {
  background-color: #e50000;
}

.category-title {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.category-title img {
  width: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.category:hover .category-title img {
  transform: rotate(30deg);
}

.category-title:hover {
  background-color: #1a1a1a;
  cursor: pointer;
}

.categories {
  margin-top: 10px;
}

.swiper-pagination-bullet {
  background-color: red !important;
  width: 15px !important;
  height: 15px !important;
}

.hidden-md-and-up {
  text-align: center;
  margin: 0 auto;
}

.paragraph-text {
  margin-top: 20px;
  font-style: italic;
}

div.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 60px;
}

div.device-head-small {
  display: flex;
  gap: 1rem;
  align-items: center;
}

div.device-head-small img {
  width: 50px;
}

div.device {
  background: linear-gradient(90deg, #0f0f0f 99.8%, #290101);
  background: linear-gradient(to bottom, #290101 4.6%, #0f0f0f);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in-out, background 0.9s ease-in;
}

div.device:hover {
  transform: translateY(10px);
  background: linear-gradient(to top, #e50000 100%, #290101);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.preloader span img {
  margin-top: 67px;
  margin-right: 10px;
}
.preloader span {
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.plan-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px;
  background-color: #0f0f0f;
  border-radius: 5px;
  margin-top: 10px;
  width: 180px;
}

.question-button button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.trial-button button {
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.trial-button button:hover {
  background-color: #0f0f0f;
}

.plan-button button {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.plan-button button.active,
.plan-button button:hover {
  background-color: #1a1a1a;
}

div.faq-questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 40px;
}

div.faq-questions h1 {
  font-size: 18px;
  font-weight: 100;
}

p.faq-para {
  color: #999999;
  margin-top: 10px;
}

div.faq-content {
  display: flex;
  gap: 10px;
}

div.faqi {
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #e50000;
  transition: 0.1s ease-in-out;
}

div.faqi button {
  border: none;
  outline: none;
}
div.faq-question {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  justify-content: space-between;
}

div.faq-question img {
  width: 40px;
}

button.sign img {
  width: 20px;
}

div.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 60px;
}

div.plan-card {
  padding: 20px;
  border-radius: 10px;
}

div.plan-card h2 {
  font-size: 20px;
}

div.plan-card p {
  color: #999999;
  margin-top: 5px;
  margin-bottom: 20px;
}

div.price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

div.price h3 {
  font-size: 25px;
  font-weight: 900;
}

div.price-button {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

button.yearly:focus,
button.monthly:focus {
  background-color: #1a1a1a;
}

div.price-button button:nth-child(1) {
  padding: 10px;
  border-radius: 5px;
  background-color: #0f0f0f;
  color: white;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
div.price-button button:nth-child(1):hover {
  background-color: #e50000;
}

div.price-button button:nth-child(2) {
  padding: 10px;
  border-radius: 5px;
  background-color: #e50000;
  color: white;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}

div.price-button button:nth-child(2):hover {
  background-color: #0f0f0f;
}

div.trial {
  padding: 0px 70px;
  padding-bottom: 100px;
  padding-top: 50px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
}

footer.footer {
  padding: 0px 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0f0f0f;
}

div.container {
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
}
div.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  padding-bottom: 40px;
}

div.row h3 {
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}

div.row ul li {
  margin-bottom: 10px;
}

.icons ul {
  display: flex;
  gap: 10px;
}

.icons ul li a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a1a1a;
  transition: 0.5s ease-in-out;
}

.icons ul li a:hover {
  background-color: #e50000;
}

div.row ul li a {
  color: #999999;
}

.copyright {
  color: #999999;
}

div.trailinner {
  background-image: url("../src//assets/images/trialbg.png");
  height: 30vh;
  width: 100%;
  padding: 50px;
  color: white;
  align-items: center;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}

@media (max-width: 990px) {
  div.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 590px) {
  div.explore {
    padding: 0px 10px;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  div.faq,
  div.trial,
  div.devices {
    padding: 0px 10px;
    padding-bottom: 100px;
  }

  .navbar_title {
    padding-bottom: 500px;
  }
}

@media (max-width: 860px) {
  div.explore {
    padding: 0px 20px;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  div.faq,
  div.trial,
  div.devices {
    padding: 0px 20px;
    padding-bottom: 100px;
  }
  footer.footer {
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 1075px) {
  .navbar {
    padding: 10px;
    margin-top: 15px;
  }
  .nav-links {
    margin-left: -0px;
  }

  .navbar-para {
    padding: 0px 50px;
  }

  div.box {
    display: grid;
    gap: 10px;
    margin-top: 60px;
  }

  div.plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 60px;
  }

  div.trailinner {
    padding: 30px 20px;
  }

  div.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  div.box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  div.device {
    padding: 30px;
  }
  div.plans {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 60px;
  }
  div.row {
    grid-template-columns: repeat(2, 1fr);
  }

  div.trial {
    display: block;
    text-align: center;
  }
  div.trailinner {
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  div.swipe {
    display: none;
  }
  .category:nth-child(3) {
    display: none;
  }
  .hidden-md-and-up {
    display: block;
  }

  div.category {
    padding: 10px;
    border-radius: 10px;
  }
  .navbar {
    padding: 6px;
  }
  .nav-links {
    display: none;
  }
  div.toggle {
    display: block;
  }
  .navbar-para {
    padding: 0px 0px;
  }
  div.faq-header {
    display: block;
  }

  div.faq-questions {
    grid-template-columns: repeat(1, 1fr);
  }

  div.logo a img {
    width: 170px;
  }
}
