@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
  scrollbar-color: #0f0f0f transparent;
}

.navbar-head {
  padding: 10px;
}

.navbar-para {
  padding: 0px 150px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

explore-para {
  font-size: 15px;
}

nav {
  margin-left: -80px;
}

nav ul li {
  font-size: 17.5px;
  padding: 10px;
}
nav ul li.active,
nav ul li:hover {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
}

div.toggle {
  display: none;
}

div.play {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.play img {
  width: 350px;
}

.progress-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  z-index: 1000;
  transform-origin: 0%;
}

.search-icon,
.notification-icon {
  font-size: 25px;
}

.navbar_title {
  height: 400px; /* adjust the height to your needs */
  padding: 20px;
}

.notification-box {
  top: 100px;
  right: 90px;
  z-index: 100;
}

.small-play-button {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.small-play-button:hover {
  background-color: #1a1a1a;
}

.small-play-button-image {
  width: 20px;
}

div.explore {
  padding: 0px 70px;
  padding-bottom: 150px;
  padding-top: 50px;
}

div.swipe {
  padding: 0px 10px;
  height: 60px;
  border-radius: 10px;
}

.swipe-right,
.swipe-left {
  padding: 8px;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 5px;
}

div.categories {
  margin-top: 60px;
}

div.category {
  padding: 10px;
  border-radius: 10px;
}
.swipe-right:hover,
.swipe-left:hover {
  background-color: #e50000;
}

.category-title {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.category-title img {
  width: 30px;
  cursor: pointer;
}

.category-title:hover {
  background-color: #1a1a1a;
  cursor: pointer;
}

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

div.image-box img {
  width: 100%;
}
/* Medium screens (tablet) */
@media (max-width: 1094px) {
  .category:nth-child(5),
  .category:nth-child(4) {
    display: none;
  }
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small screens (mobile) */
@media (max-width: 860px) {
  div.explore {
    padding: 0px 20px;
    padding-bottom: 150px;
    padding-top: 50px;
  }
}

@media (max-width: 590px) {
  div.explore {
    padding: 0px 10px;
    padding-bottom: 150px;
    padding-top: 50px;
  }

  .navbar_title {
    padding-bottom: 500px;
    /* adjust the height to your needs */
  }
}

@media screen and (max-width: 1075px) {
  .navbar {
    padding: 10px;
    margin-top: 15px;
  }
  .nav-links {
    margin-left: -0px;
  }

  .navbar-para {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 800px) {
  div.swipe {
    display: none;
  }
  .category:nth-child(3) {
    display: none;
  }
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }

  div.category {
    padding: 10px;
    border-radius: 10px;
  }
  .navbar {
    padding: 6px;
  }
  .nav-links {
    display: none;
  }
  div.toggle {
    display: block;
  }
  .navbar-para {
    padding: 0px 0px;
  }

  div.logo a img {
    width: 170px;
  }
}
